@model WebComercio.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="container my-5">
        <div class="row"> </div>
        <h1> <a asp-action="Index"><img src="~/IMG/usuarios/volver.png" data-bs-toggle="tooltip" title="Pagina anterior"></a> Eliminar Usuario</h1>
    </div> 

    <div class="container my-5">
        <div class="row">
            <div class="container">
                <h3>Usted esta a punto de eliminar un usuario</h3>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="container">
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Cuil)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Cuil)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Apellido)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Apellido)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Mail)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Mail)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MiCarro)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MiCarro)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.TipoUsuario)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.TipoUsuario)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Delete" class="text-right">
                    <input type="hidden" asp-for="UsuarioId" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
  


