@model IEnumerable<WebComercio.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <h1>Usuarios</h1> <img class="ml-2" src="~/IMG/usuarios/userLogin.png" alt="usuarios" width="50" height="50">
        @ViewBag.Error
    </div>
</div>

<div class="container justify-ali-center">
    <div class="row">
        <div class="col-md-12">

            <div class="row text-left justify-content-between">

                <div class="pl-5">
                    <div class="row">
                        <h5><b>Agregar</b></h5>
                        <a asp-action="Create" class="text-right"><img class="ml-2 mb-5" src="~/IMG/productos/agregarProducto.png" alt="agregarUsuario" width="33" height="33"></a>
                    </div>
                </div>

                <div class="pr-5">
                    <div class="row">
                        <h5 class="pr-3"><b>Buscar por nombre</b></h5>
                        <form asp-controller="Usuarios" asp-action="Index" method="get">
                            <input type="text" class="form-group mr-2" name="searchString" />
                        </form>

                        <form asp-controller="Usuarios" asp-action="Index" method="get">
                            <input class="btn-sm btn-outline-primary" type="submit" value="Filtrar" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <table class="table table-striped my-2 text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cuil)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiCarro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Intentos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bloqueado)
                    </th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiCarro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Intentos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bloqueado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UsuarioId"><img src="~/IMG/usuarios/editar.png" data-bs-toggle="tooltip" title="Editar"></a>
                        <a asp-action="Details" asp-route-id="@item.UsuarioId"><img src="~/IMG/usuarios/detalles.png" data-bs-toggle="tooltip" title="Detalles"></a>
                        <a asp-action="Delete" asp-route-id="@item.UsuarioId"><img src="~/IMG/usuarios/eliminar.png" data-bs-toggle="tooltip" title="Eliminar"></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

