@model IEnumerable<WebComercio.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Usuarios" asp-action="Index" method="get">
    <p> 
        Nombre: <input type="text" name="searchString" />
        <input type="submit" value="Filtrar" />
    </p>

</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cuil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cuil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloqueado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

