@model IEnumerable<WebComercio.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <div class="row">
        <h1>Categorias</h1> <img class="ml-2" src="~/IMG/categorias/categorias.png" alt="categorias" width="50" height="50">
    </div>
</div>

<div class="container my-5">
    <div class="row">

        <div class="col-md-12">
            <h5><b>Agregar</b>  <a asp-action="Create" class="text-right"><img src="~/IMG/productos/agregarProducto.png" width="33" height="33"></a> </h5>
        </div>

    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col -md-12">
                <table class="table table-striped my-2 text-center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CatId"><img src="~/IMG/usuarios/editar.png" data-bs-toggle="tooltip" title="Editar"></a>
                                    <a asp-action="Details" asp-route-id="@item.CatId"><img src="~/IMG/usuarios/detalles.png" data-bs-toggle="tooltip" title="Detalles"></a>
                                    <a asp-action="Delete" asp-route-id="@item.CatId"><img src="~/IMG/usuarios/eliminar.png" data-bs-toggle="tooltip" title="Eliminar"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
