@model IEnumerable<WebComercio.Carro_productos>

@{
    ViewData["Title"] = "Carrito de Compras";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}
<div class="container">
    <div class="container pb-5">
        <div class="row">
            <h1> <a href="/Mercado/?identificador=@ViewBag.identificador"><img src="~/IMG/usuarios/volver.png" data-bs-toggle="tooltip" title="Pagina anterior"></a> Mi Carro</h1>
        </div>
    </div>
</div>


@if (ViewBag.mensaje != null)
{

    if (ViewBag.tipoMensaje == "error")
    {
        <div class='alert alert-success alert-dismissable' id='alert'>
            <button type='button' class='close' data-dismiss='alert'>×</button>
            <strong>@ViewBag.mensaje</strong>
        </div>
    }
    if (ViewBag.tipoMensaje == "success")
    {
        <div class='alert alert-success alert-dismissable' id='alert'>
            <button type='button' class='close' data-dismiss='alert'>×</button>
            <strong>@ViewBag.mensaje</strong>
        </div>
    }

}

<div class="container">
    <div class="row">
        <div class="col -md-12">
            <table class="table table-striped my-2 text-center">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Producto.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">

                                    <a href="/Mercado/Details/@item.Id_Producto?identificador=@ViewBag.identificador" class=" ml-5 btn btn-primary">Ver Producto</a>

                                    <form class="ml-4" method="get" asp-action="EditarCarro">
                                        <input type="submit" value="Modificar" class="btn btn-primary" />
                                        <input hidden name="id" value="@item.Id_Producto" />
                                        <input hidden name="identificador" value="@ViewBag.identificador" />
                                    </form>

                                    <form class="ml-4" method="get" asp-action="QuitarDelCarro">
                                        <input type="submit" value="Quitar del carro" class="btn btn-danger" />
                                        <input hidden name="id" value="@item.Id_Producto" />
                                        <input hidden name="identificador" value="@ViewBag.identificador" />
                                    </form>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="container">
    @if (ViewBag.CuentaProductos != 0)
    {
        <div class="d-flex mt-5">

        <form  method="get" asp-action="VaciarCarro">
            <input type="submit" value="Vaciar carro" class="btn btn-secondary" />
            <input hidden name="identificador" value="@ViewBag.identificador" />
        </form>
        <form class="ml-4" method="get" asp-action="Comprar">
            <input type="submit" value="Comprar" class="btn btn-primary" />
            <input hidden name="identificador" value="@ViewBag.identificador" />
        </form>
        </div>
    
    }


</div>
