@model IEnumerable<WebComercio.Carro_productos>

@{
    ViewData["Title"] = "Carrito de Compras";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}

<h1 class="pb-4">Carrito de Compras</h1>

<div>
    <form method="get" asp-action="Index">
        <input type="submit" value="Volver" class="btn btn-primary" />
        <input hidden name="identificador" value="@ViewBag.identificador" />
    </form>
</div>
<table class="table mt-5 col-8">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Producto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a href="/Mercado/Details/@item.Id_Producto?identificador=@ViewBag.identificador" class="btn btn-primary">Ver Producto</a>
                    
                    <form method="get" asp-action="QuitarDelCarro">
                        <input type="submit" value="Quitar del carro" class="btn btn-primary" />
                        <input hidden name="id" value="@item.Id_Producto" />
                        <input hidden name="identificador" value="@ViewBag.identificador" />
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>

<div>
    <form method="get" asp-action="Comprar">
        <input type="submit" value="Comprar" class="btn btn-primary" />
        <input hidden name="identificador" value="@ViewBag.identificador" />
    </form>
</div>
