@model WebComercio.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}

<div>
    <h1> <a href="/Mercado/?identificador=@ViewBag.identificador"><img src="~/IMG/usuarios/volver.png" data-bs-toggle="tooltip" title="Pagina anterior"></a> Detalles</h1>
</div>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.Nombre)
        </dd>
    </dl>
    <form asp-action="AgregarProducto" method="get">
        <input type="hidden" name="identificador" value="@ViewBag.identificador" />
        <input type="hidden" asp-for="ProductoId" />

        <div class="form-group">
            <label for="Cantidad" class="control-label" >Ingrese una cantidad</label>
            <input type="number" asp-for="Cantidad" min="1" max="@Html.ValueFor(model => model.Cantidad)" class="form-control" value="1">

        </div>

        <div class="form-group text-right">
            <input type="submit" value="Agregar" class="btn btn-primary" />
        </div>
    </form>


</div>
<div>
    <form method="get" asp-action="Carro">
        <a class="btn btn-primary" href="/Mercado/Carro/@ViewBag.identificador?identificador=@ViewBag.identificador">Ir al Carro</a>
        <input hidden name="identificador" value="@ViewBag.identificador" />
    </form>
</div>
