@model IEnumerable<WebComercio.Productos_compra>

@{
    ViewData["Title"] = "Detalles Compra";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}

<div class="container">
    <h1>Mis Compras</h1>
</div>

<div class="container my-3">

    <div class="row">

        <div class="col -md-4">
            <img src="~/IMG/compras/compras.png" class="card-img-top" alt="compras">
            <div class="card my-2" style="width: 15rem;">
                
                <h1> 
                <a href="/Mercado/MisCompras/@ViewBag.identificador?identificador=@ViewBag.identificador">
                <img src="~/IMG/usuarios/volver.png" data-bs-toggle="tooltip" title="Pagina anterior"></a> Detalles de la compra</h1>
                
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col -md-12">
            <table class="table  my-2 text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id_compra)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Id_producto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cantidad_producto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Producto.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Producto.Precio)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id_compra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id_producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad_producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Precio)
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
