@model IEnumerable<WebComercio.Productos_compra>

@{
    ViewData["Title"] = "Detalles Compra";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}

<div class="container">
    <h1>Mis Compras</h1>
</div>

<div class="container my-3">

    <div class="row">

        <div class="">
            
            <div class=" mt-4 mb-3 d-flex">
                <h2> 
                <a href="/Mercado/MisCompras/@ViewBag.identificador?identificador=@ViewBag.identificador"><img src="~/IMG/usuarios/volver.png" data-bs-toggle="tooltip" title="Pagina anterior"></a>Detalles de la compra</h2>
                
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col -md-12">
            <table class="table table-striped my-2 text-center">
                <thead>
                    <tr>
                        <th>
                            Compra
                        </th>
                        <th>
                            Id Producto
                        </th>
                        <th>
                            Cantidad Producto
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Precio
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id_compra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id_producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad_producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Precio)
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
