@model IEnumerable<WebComercio.Producto>


@{
    ViewData["Title"] = "Mercado";
    Layout = "~/Views/Shared/_LayoutLoginRegistro.cshtml";
}


<h1>Mercado del orto</h1>
<div class="text-success">
    @ViewBag.Mensaje
</div>

<div class="d-flex flex-row">
    <form asp-controller="Mercado" asp-action="Index" method="get">
        <p>
            Nombre del producto <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            
        </p>

        <fieldset>

            <div>
                <input type="radio" id="contactChoice1"
                       name="orderByName" value="@ViewData["ByName"]">
                <label for="contactChoice1">Nombre ascendente</label>

                <input type="radio" id="contactChoice2"
                       name="orderByNameDesc" value="@ViewData["ByName"]">
                <label for="contactChoice2">Nombre descendente</label>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <input type="radio" id="contactChoice1"
                       name="orderByPrice" value="@ViewData["ByPrice"]">
                <label for="contactChoice1">Precio ascendente</label>

                <input type="radio" id="contactChoice2"
                       name="orderByPriceDesc" value="@ViewData["ByPrice"]">
                <label for="contactChoice2">Precio descendente</label>
            </div>
        </fieldset>
        <div>
            <input type="submit" value="Filtrar" class="btn btn-primary" />
        </div>

    </form>

    <form asp-controller="Mercado" asp-action="Index" method="get">
        <p>

            <select name="Cat">
                <option selected>Selecciona una opción</option>
                @{
                    foreach (var item in @ViewBag.categorias)
                    {
                        <option value="@item.Nombre">
                            @item.Nombre
                        </option>
                    }
                }
            </select>
            <input type="submit" value="Filtrar por Categoria" class="btn btn-primary" />
        </p>

    </form>
</div>


@*<div class="d-flex flex-row">
    <form asp-controller="Mercado" asp-action="Index" method="get">
        <p>
            <label><input type="checkbox" id="cbox1" name="orderByName" value="@ViewData["ByName"]"> Ordenar por nombre</label><br>
            <input type="checkbox" id="cbox2" name="orderByPrice" value="@ViewData["ByPrice"]"> <label for="cbox2">Ordenar por precio</label><br>
            <input type="submit" value="Ordenar" class="btn btn-primary" />
        </p>

    </form>

   
</div>*@

<div>
    <form>
       
    </form>
</div>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Precio", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th>
                @Html.ActionLink("Cantidad", "Index", new { sortOrder = ViewBag.AmountSortParm })
            </th>
            <th>
                @Html.ActionLink("Categoria", "Index", new { sortOrder = ViewBag.CategorySortParm })
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Precio
                </td>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.Cat.Nombre
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductoId">Ver Producto</a>

                </td>
            </tr>
        }
    </tbody>
</table>