@model IEnumerable<WebComercio.Producto>


@{
    ViewData["Title"] = "Mercado";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}



<div class="mb-5 my-5">
    <h1>¡Bienvenido a nuestro Mercado!</h1>
  
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3">

            <form class="" asp-controller="Mercado" asp-action="Index" method="get">

                <h5>Buscar <img src="~/IMG/mercado/buscar.png" alt="buscar" width="25" height="25" /></h5>
                <input class="form-control" type="text" name="searchString" placeholder="Ingrese un producto" value="@ViewData["CurrentFilter"]" />

                <fieldset class="my-3">
                    <ul class="list-unstyled">
                        <li>
                            <input type="radio" id="contactChoice1"
                                   name="orderByName" value="@ViewData["ByName"]">
                            <label for="contactChoice1">A-Z</label>
                        </li>
                        <li>
                            <input type="radio" id="contactChoice2"
                                   name="orderByNameDesc" value="@ViewData["ByName"]">
                            <label for="contactChoice2">Z-A</label>
                        </li>
                        <li>
                            <input type="radio" id="contactChoice1"
                                   name="orderByPrice" value="@ViewData["ByPrice"]">
                            <label for="contactChoice1">↑ Precio</label>
                        </li>
                        <li>
                            <input type="radio" id="contactChoice2"
                                   name="orderByPriceDesc" value="@ViewData["ByPrice"]">
                            <label for="contactChoice2">↓ Precio</label>
                        </li>
                    </ul>
                    <input type="submit" value="Aplicar" class="btn btn-primary btn-block" />
                </fieldset>

            </form>
            <hr />
            <form class="" asp-controller="Mercado" asp-action="Index" method="get">


                    <select class="form-control" name="Cat">
                        <option selected >Categoría</option>
                        @{
                            foreach (var item in @ViewBag.categorias)
                            {
                                <option value="@item.Nombre">
                                    @item.Nombre
                                </option>
                            }
                        }
                    </select>

                    <input type="submit" value="Filtrar" class="btn btn-primary my-3 btn-block" />
   

            </form>
        </div>

        <div class="col-md-9">
            <form method="get" asp-action="Details">

                <table class="table table-striped my-2 text-center">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Precio", "Index", new { sortOrder = ViewBag.PriceSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Cantidad", "Index", new { sortOrder = ViewBag.AmountSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Categoria", "Index", new { sortOrder = ViewBag.CategorySortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Agregar", "Index")
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Nombre
                                </td>
                                <td>
                                    @item.Precio
                                </td>
                                <td>
                                    @item.Cantidad
                                </td>
                                <td>
                                    @item.Cat.Nombre
                                </td>
                                <td>
                                    <a href="/Mercado/Details/@item.ProductoId?identificador=@ViewBag.identificador">
                                        <img src="~/IMG/mercado/agregar.png" data-bs-toggle="tooltip" title="Agregar al carro" alt="agregar" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<hr />





