@*@model IEnumerable<WebComercio.Producto>*@


@{
    ViewData["Title"] = "Mercado";
    Layout = "~/Views/Shared/_LayoutLoginRegistro.cshtml";
}


<h1>Mercado del orto</h1>
<div class="text-success">
    @ViewBag.Mensaje
</div>

<div class="d-flex flex-row">
    <form asp-controller="Mercado" asp-action="Index" method="get">
        <p>
            Nombre del producto <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Filtrar" class="btn btn-primary" />
        </p>

    </form>

    <form asp-controller="Mercado" asp-action="Index" method="get">
        <p>

            <select name="Cat">
                <option selected>Selecciona una opción</option>
                @{
                    foreach (var item in @ViewBag.categorias)
                    {
                        <option value="@item.Nombre">
                            @item.Nombre
                        </option>
                    }
                }
            </select>
            <input type="submit" value="Filtrar por Categoria" class="btn btn-primary" />
        </p>

    </form>
</div>
<div class="d-flex flex-row">
    <form asp-controller="Mercado" asp-action="Index" method="get">
        <p>
            <select name="OrderByNombre">
                <option selected>Ordenar por nombre</option>
                <option value="1">A-Z</option>
                <option value="2">Z-A</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Ordenar" class="btn btn-primary" />
            </div>
        </p>

    </form>

    <form asp-controller="Mercado" asp-action="Index" method="get">
        <p>

            <select name="OrderByPrecio">
                <option selected>Ordenar por precio</option>
                <option value="1">Ascendente</option>
                <option value="2">Descendente</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Ordenar" class="btn btn-primary" />
            </div>
        </p>

    </form>
</div>





<table class="table">
    <thead>
        <tr>
            <th>
              @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(item => item.Nombre)</a>*@
                Nombre
            </th>
            <th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Precio)</a>*@
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Cat
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.Productos)
        {
            <tr>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Precio
                </td>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.CatId
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductoId">Agregar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductoId">Quitar</a> |

                </td>
            </tr>
        }
    </tbody>
</table>