@model IEnumerable<WebComercio.Compra>

@{
    ViewData["Title"] = "Mis Compras";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}

<div class="container">
    <h1>Compras</h1>
</div>

<div class="container my-3">

    <div class="row">

        <div class="col -md-4">

            <div class="card my-2" style="width: 15rem;">
                <img src="~/IMG/compras/compras.jpg" class="card-img-top" alt="compras">
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col -md-12">
            <table class="table table-striped my-2 text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CompraId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.idUsuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompraId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.idUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                <a asp-action="DetailsCompras" asp-route-id="@item.CompraId"><img src="~/IMG/usuarios/editar.png" data-bs-toggle="tooltip" title="Ver detalle"></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <form method="get" asp-action="Index">
            <div class="col-md-12">
                <input type="submit" value="Volver" class="btn btn-primary" />
                <input hidden name="identificador" value="@ViewBag.identificador" />
            </div>
        </form>
    </div>
</div>