@model IEnumerable<WebComercio.Compra>

@{
    ViewData["Title"] = "Mis Compras";
    Layout = "~/Views/Shared/_LayoutMercado.cshtml";
}

<div class="container pb-5">
    <h1> <a href="/Mercado/?identificador=@ViewBag.identificador"><img src="~/IMG/usuarios/volver.png" data-bs-toggle="tooltip" title="Pagina anterior"></a> Mis Compras</h1>
</div>



<div class="container">
    <div class="row">
        <div class="col -md-12">
            <table class="table table-striped my-2 text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CompraId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.idUsuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th>Ver detalle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompraId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.idUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                <a href="/Mercado/DetailsCompras/@item.CompraId?identificador=@ViewBag.identificador"> <img src="~/IMG/usuarios/editar.png" data-bs-toggle="tooltip" title="Ver detalle"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <form method="get" asp-action="Index">
            
        </form>
    </div>
</div>